:root {
  --light-blue: #54699B;
  --lighter-blue: #899AC1;
  --dark-blue: #344366;
}

h1,
h3 {
  color: var(--dark-blue);
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

body {
  background-color: var(--light-blue);
}

input, button {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px;
  background-color: var(--lighter-blue);
}

input {
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

input.checkbox {
  margin-right: 15px;
}


.text {
  border-radius: 5px; 
  padding: 12px;
  background-color: var(--lighter-blue);
  color: #D1DDF9;
  font-family: 'Courier New', Courier, monospace;
}


.container {
  max-width: 800px;
  margin-top: 60px;
}

.task-container {
  display: flex;
  justify-content: space-between
}

.new-task{
  border: none;
  border-radius: 6px;
  background-color: white;
}

.content {
  display: flex;
  
}

.task-list {
  margin-top: 30px;

}

.task {
  display: flex;
  justify-content: space-between;
  margin: 5px; 
  background-color: var(--lighter-blue);
  border-radius: 5px;
}

.print-button {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 8px 20px;
  font-size: 13px;
  border-radius: 6px;
}
